/* LoginForm.css */

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fffaf0; /* Cor de fundo geral bege mais claro */
  height: 100vh; /* Altura total da viewport */
  padding: 20px;
}

.login-form {
  width: 100%;
  max-width: 320px; /* Largura máxima do formulário */
  padding: 20px;
  background-color: #f5f5dc; /* Cor de fundo do formulário bege */
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2); /* Sombra suave */
}

.login-form h2 {
  margin-bottom: 20px;
  text-align: center;
  color: #001f3f; /* Cor do texto azul marinho */
}

.login-form div {
  margin-bottom: 15px;
}

.login-form label {
  display: block;
  margin-bottom: 5px;
  color: #001f3f; /* Cor do texto azul marinho */
}

.login-form input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: none; /* Sem borda */
  border-radius: 4px;
  background-color: #fff; /* Cor de fundo branca para os inputs */
  color: #001f3f; /* Cor do texto azul marinho */
}

.login-form button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #001f3f; /* Cor de fundo azul marinho para o botão */
  color: #fffaf0; /* Cor do texto bege claro para o botão */
  font-size: 16px;
  cursor: pointer;
}

.login-form button:hover {
  background-color: #0056b3; /* Cor de fundo azul marinho mais escuro no hover */
}
